body{
    background: #5c6ac4;
    color: white;
    font-family: 'Roboto', sans-serif;
}
.red{
    border: red 1px dashed;
    
.yellow{
    border: yellow 1px dashed;
    
    text-align: center;
}
.green{
    border: green 5px solid;
    
}
.splited{
    display: flex;
    justify-content: center;
}
.logo{
    max-height: 40px;
}
.yellow.splited{
    padding: 20px;
} 
h1{ margin-bottom: 10px;}
h1{ margin-top: 10px; margin-bottom: auto;}
input, button{
    border-radius: 5px;
    border: 0;
    margin: 0 3px;
}